DATABASE_URL="file:./dev.db"
ADMIN_EMAIL="admin@viorahub.com"
ADMIN_LOGIN="Bilol"
ADMIN_PASSWORD="ChangeThisStrongPassword!"
EDITOR_EMAIL="editor@viorahub.com"
EDITOR_PASSWORD="ChangeThisStrongPassword!"
REVIEWER_EMAIL="reviewer@viorahub.com"
REVIEWER_PASSWORD="ChangeThisStrongPassword!"
